# Selecciona el driver moderno de ST-Link
source [find interface/stlink.cfg]

# Cambia 'hla_swd' por 'swd' (o simplemente deja que el target lo elija)
transport select swd

# Selecciona el microcontrolador
source [find target/stm32f4x.cfg]

# Velocidad de comunicación
adapter speed 2000